.container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}
h1 {
    color: #000;
    font-size: 32px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #B3B3B3;
    width: 400px;
    margin-bottom: 20px;
    

    & button {
        border-radius: 30px;
        background-color: #E6E6E6;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        }

        & button:hover {
            opacity: 0.8;
        }

        & input {
            border: 1px solid #858585;
            border-radius: 30px;
            height: 40px;
           
            color: #000;
            font-size: 16px;
            padding-left: 10px;
            outline: none;

        }

    

}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #858585;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    

    & p {
        color: #000;
        font-weight: bold;

        & span {
            font-weight: normal;
        }
    }
}
.card-info {
  display: flex;
  flex-direction: column;
}
.trash-btn { 
  
  background: none;
  border: none;
  cursor: pointer;
  
}
.trash-btn {
  filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(7460%) hue-rotate(357deg);
}

.trash-btn:hover {
  transform: scale(1.1);
}