* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(133, 133, 133, 1) 100%);
}